html {
    width: 100%;
}

body {
    background-color: #1A0E0E;
    font-family: 'Do Hyeon', sans-serif;
    width: 100%;
    box-sizing: border-box;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

header {
    font-family: 'Dokdo', cursive;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(112, 106, 106, 0.8);
    border-bottom-right-radius: 40em;
    color: #1A0E0E;
}

h1 {
    font-size: 3em;
    padding: 1em;
}

.wrapper {
    display: flex;
}

button {
    color: #1A0E0E;
    background-color: #34D1BF;
    border: none;
    min-width: 15%;
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.25em;
    border-bottom-right-radius: 2em;
}

.button-land {
    display: flex;
    margin: 1em auto;
    align-content: space-around;
    flex-wrap: wrap;
}

.gif-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1em;
    background-color: rgba(112, 106, 106, 0.8);
    /* background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png"); */
    padding: 1em;
    border-radius: 0.25em;
}

.gif-land {
    display: flex;
    flex-wrap: wrap;
}

.gif-div {
    display: inline-block;
    text-align: center;
    margin: 1em auto;
    height: min-content;
}

.gif-rating {
    background-color: rgba(157, 152, 152, 0.6);
}

.gif-divider {
    width: 90%;
    margin: auto;
    border: 2px solid black;
}

.more-gifs {
    margin: 1em auto;
}

.search-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 1em;
    background-color: rgba(112, 106, 106, 0.8);
    padding: 1em;
    border-radius: 0.25em;
}

#favorite-box {
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    height: max-content;
    border: 2px solid black;
}

#favorite-box > div:last-child {
    margin-bottom: 5em;
}

.hidden-button {
    display: none;
}
/* media queries go here */
@media only screen and (max-width: 830px) {

    .wrapper {
        flex-direction: column-reverse;
    }

    .search-container {
        width: 90%;
        margin: 1em auto;
    }

    .gif-container {
        width: 90%;
        margin: 1em auto;
    }

    #favorite-box {
        min-height: 200px;
    }

    .hidden-button {
        display: block;
        margin: 1em auto;
    }

    .drag-here {
        display: none;
    }
}